body {
    font-family: Georgia, serif;
}
main{

        font-family: Georgia, serif;
    
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon{
    width: 100px;
    cursor: pointer;
}
.iconn{
    width: 80px;
    cursor: pointer;
}
.iconnn{
    width: 65px;
    cursor: pointer;
}
.header2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    gap: 40px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.big{
    width: 297px;
}

.big_a{
    width: 247px;
}

.Leader,.Mini-Leader,.member{
    width: 300px;
    background-color: beige;
    border: 5px solid rgb(75, 35, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30%;
}
.ah,.ha,.members{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}
.arrow{
    width: 300px;
    height: 400px;
}
.Leader_photo, .Mini-Leader_photo,.member_photo{
    border-radius: 33%;
    width: 300px;
    cursor: pointer;
}
.Leader{
    border: 10px solid black;

}
.member{
    border: 1px solid green;
}

.text{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(11, 97, 11);
}
.pirveli_xazi{
    font-size: 48px;
    color: rgb(11, 97, 11);
}
.meore_xazi{
    font-size:23px;
}
.mesame_xazi{
    font-size:23px;
}
.meotxe_xazi{
    font-size:27px;
}
.main_xazi{
    height: 5px;
    background-color: black;
}
.p_Mini-leader{
    margin-top: 5px;
}
.p_member{
    margin: 5px;
}
.odin,.dva,.tri,.chitiri,.piat,.shest{
    color:rgb(25, 121, 145);
}
.glavni_p{
    color: blue;
}
.odin{
    font-size:32px;
}
.dva,.tri{
    font-size: 20px;
}
.chitiri,.piat,.shest{
    font-size: 18px;
}
#main{
    font-size: 48px;
    color: rgb(0, 0, 0); 
}
.chad{
    width: 100px;
}
.arroww{
    width: 70px;
    
}
.me{
    width: 80px;
    border-radius: 50%;
}
.for_images{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   cursor: pointer;
}