

body{
background-color: bisque;
width: 80%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;


}
.container {
    background-color: #ffffff;
    width: 50%;
    border: 3px #ffffff;
    border-radius: 8px;
    margin-left: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: auto;

}

img{
    width: 50%;
   height: auto;
    
}
.main{
    display: flex;
}
.main_2{
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding: 15px;
}
.p-style{
    margin-top: 10px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    font-size: 1rem;
    background-color: #085a23;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    transition: 0.3s all ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dollar{
display: flex;
justify-content: space-evenly;
align-items: center;
}
.main_2 h4{
font-size: 35px;
color: rgb(52, 119, 7);
}
.main_2 h5{
    text-decoration: line-through;

}
.button{
   display: flex; 
   align-items: center;
   justify-content: center;

}






