body {
            
  background-color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.container {
  background-color: lightblue;
  border: 1px solid white;
  padding: 20px;
  width: 300px;
  
}

h2 {
  text-align: center;
  color: blue;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: black;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border: 2px solid white;
  border-radius: 4px;
}

h3{
  text-align: center;
  color: black;
}
h4{
  text-align: center;
  color: black;  
}
button {
  background-color: blue;
  color: white;
  padding: 11px;
  border: none;
  border-radius: none;
  
}